.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
/* input */
.inputCont{
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 3vw;
    box-shadow: 1px 1px 8px rgba(0,0,0);
    border-radius: 10px;
}
.inputCont1{
    width: 80%;
    display: flex;
    justify-content: center;  
}
.input{
    width: 80% ;
    margin-right: 10px;
    border: 2px solid rgba(0,0,0,0.6) ;
    font-size: 0.8rem;
    padding-left: 10px; 
}
.boton{
    width: 20%;
    border: 2px solid rgba(0,0,0,0.6) ;
    font-size: 0.8rem;
    padding: 2px;color: white;
    background-color: rgba(0,0,0,0.6);  
    
}
.boton:hover{
    background-color: transparent;
    color: rgba(0,0,0) ;
    transition: background .4s ease-in ;
    cursor: pointer;
}



